<!-- Grid -->
<div class="container">
  <!--Media List Carousel-->


  
  <!-- Blog entries -->
  <% @posts.each do |post| %>
    <div class="">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <img src="<%= post.banner_image_url %>" alt="" style="width:100%" > 
        <div class="w3-container w3-padding-8">
          
            <div class="post-preview">
              <h1><b><%= post.title %></b></h1>
              <h5><%= post.name %>, <span class="w3-opacity"><%= post.created_at.strftime("%B, %d, %Y") %></span></h5>
            </div>
            <hr>
          
        </div>
    
        <div class="w3-container">
          <p><%=h truncate(post.content, :length => 323) %></p>
          <div class="w3-row">
            <div class="w3-col m8 s12">
              <%= link_to "READ MORE »", post, class: 'w3-button w3-black w3-padding-large' %>
            </div>
            <div class="w3-col m4 w3-hide-small">
              <p><span class="w3-padding-large w3-right"><b>Comments </b> <span class="w3-tag"><%= post.comments.size %></span></span></p>
            </div>
          </div>
        </div>
        <br>
      </div>
      <hr>
    </div>
  <% end %>
  
  
    <!-- Labels / tags -->
    <div class="w3-card-2 w3-margin">
      <div class="w3-container w3-padding">
        <h4>Tags</h4>
      </div>
      <div class="w3-container w3-white">
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">The Flash</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">The Walking Dead</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">AMC</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Arrow</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Psych</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Review</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Supergirl</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">The OA</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Showdown</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">LegendofTomorrow</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Stranger Things</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">The Office</span> 
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">CW</span>
      </p>
      </div>
    </div>
  
</div>

