<div class="container text-center-left" id= "post_container">
  
   <p id= "post_title">
    <%= @post.title %>
  </p>
  
  <p id= "post_Name">
    <br>
    <%= @post.name %>
  </p>
  
  <div>
    
    <%= social_share_button_tag(@post.title, :url => "http://myapp.com/foo/bar") %>
    
  </div>

  <p id= "post_content">
    <strong>Content:</strong>
    <%= raw @post.content %>
  </p>
  
  <%= link_to 'Back', posts_path , :class => 'btn btn-default'%>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-warning' %>
    <%= link_to 'Delete', post_path(@post), method: :delete, :class => 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
  <% end %>
  
  <div class= "well" id="post_comments">
    <h2>Comments</h2>
    <%= render @post.comments %>
  </div>  
    
    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
</div>